RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ index.php?view=$1 [L,QSA]
RewriteRule ^(.*)articulo/([^/]+)$ index.php?view=articulo&permalink=$2 [L]
RewriteRule ^(.*)producto/([^/]+)$ index.php?view=detalle-producto&p=$2 [L]